<!DOCTYPE html>
<html>
  <head>
    <title>Furima28680</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <% if user_signed_in? %>
      <div class="user_nav">
        <%= link_to "toppage_index_path", user_name , class: "post" %>
        <%= link_to "ログアウト", destroy_user_session_path, class: "post" %>

      </div>
    <% else %>
      <div class="user_nav">
        <%= link_to "ログイン", new_user_session_path, class: "post" %>
        <%= link_to "新規登録", new_user_registration_path, class: "post" %>
      </div>
    <% end %>
  </body>
</html>
